{{#if noOrders}}
    <h1>User Profile</h1>
    <hr style="margin: 5px">
    <h2>No orders yet</h2>
{{else}}
    <div>
        <h1>User Profile</h1>
        <hr style="margin: 5px">
        <h2>My Orders</h2>
        {{# each orders }}
            <div class="card" style="margin-top: 5px">
                <div class="card-body">
                    <ul class="list-group">
                        {{# each this.items}}
                            <li class="list-group-item">
                                {{ this.title }} | {{ this.qty }} Units
                                <span id ="{{this.prodId}}" class="badge badge-pill badge-primary pull-right"
                                      style="margin-left: auto">${{this.price}}</span>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="card-footer">
                    <strong>Total Price: ${{ this.totalPrice }}</strong>
                    <span id ="{{this.prodId}}" class="badge badge-pill pull-right"
                          style="margin-left: auto">Order date: {{this.saleDate}}</span>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
<script>
    document.title='Profile';
</script>